**DA-1**
**    **
**ROLL NUMBER : 20BCE1332**
****
**NAME : V S Sai Rashwant**
****
**EMAIL : sairashwant.vs2020@vitstudent.ac.in**
****
**CAMPUS : VIT CHENNAI**
****
**BRANCH : CSE**

1.Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:

import pandas as pd

import numpy as np


s1 = pd.Series(np.random.rand(4))
s2 = pd.Series(np.random.rand(4))
s3 = pd.Series(np.random.rand(4))
s4 = pd.Series(np.random.rand(4))


df = pd.DataFrame([s1, s2, s3, s4])
df

          0         1         2         3
0  0.859633  0.216789  0.783111  0.625868
1  0.311100  0.026735  0.961851  0.969473
2  0.741841  0.058259  0.384697  0.831266
3  0.580089  0.789112  0.003676  0.077434

2.Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:

df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.859633        0.216789        0.783111        0.625868
1        0.311100        0.026735        0.961851        0.969473
2        0.741841        0.058259        0.384697        0.831266
3        0.580089        0.789112        0.003676        0.077434

3.Find the descriptive statistics of the 'df' dataframe.

In [ ]:

df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.575287        0.624993        0.532676        0.439563
std          0.338264        0.172743        0.245943        0.355109
min          0.186329        0.399245        0.301442        0.138137
25%          0.346839        0.554655        0.360944        0.163552
50%          0.611543        0.644436        0.489734        0.365867
75%          0.839991        0.714774        0.661466        0.641878
max          0.891735        0.811857        0.849793        0.888381

4.Check for the null values in 'df' and find the data type of the columns.

In [ ]:

print("Datatype of Random value 1 : ", df['Random value 1'].dtype)
print("Datatype of Random value 2 : ", df['Random value 2'].dtype)
print("Datatype of Random value 3 : ", df['Random value 3'].dtype)
print("Datatype of Random value 4 : ", df['Random value 4'].dtype)
print("-------------------------------------")
print("")


print(df.isnull().sum())
print("-------------------")
print("")


df.info()

Datatype of Random value 1 :  float64
Datatype of Random value 2 :  float64
Datatype of Random value 3 :  float64
Datatype of Random value 4 :  float64
-------------------------------------

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64
-------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

5.Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:

df.loc[:, 'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.399245        0.380778
1        0.606458        0.598690
2        0.811857        0.301442
3        0.682414        0.849793

In [ ]:

df.iloc[:, 1:3]

   Random value 2  Random value 3
0        0.399245        0.380778
1        0.606458        0.598690
2        0.811857        0.301442
3        0.682414        0.849793